langchain==0.2.16
langchain-community==0.2.16
langchain-core==0.2.38

langchain-pinecone==0.1.1
langchain-google-genai==1.0.10

google-generativeai==0.7.2
pinecone-client==3.2.2

python-dotenv
pdfplumber
pypdf

Flask==2.3.2
werkzeug==2.3.7
gunicorn
