flask
gunicorn
python-dotenv
pinecone-client>=3.0.0
langchain
langchain-google-genai>=1.0.0
langchain-pinecone
langchain-text-splitters
langchain-community
google-generativeai
cohere
pypdf
